Source: proxmox-ve
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>=12~), lintian
Standards-Version: 4.5.1
Homepage: https://www.proxmox.com

Package: proxmox-ve
Architecture: all
Provides: proxmox-virtual-environment
Conflicts: proxmox-ve-3.10.0, proxmox-virtual-environment, pve-kernel
Replaces: proxmox-ve-3.10.0, proxmox-virtual-environment, pve-kernel
Depends: apt,
         openssh-client,
         openssh-server,
         proxmox-archive-keyring,
         pve-manager,
         pve-qemu-kvm,
         qemu-server,
         spiceterm,
         vncterm,
	 zfsutils-linux,
	 chrony,
	 ksmtuned,
	 ceph-dkms,
Description: Proxmox Virtual Environment
 The Proxmox Virtual Environment is an easy to use Open Source
 virtualization platform for running Virtual Appliances and Virtual
 Machines. This is a meta package which will install everything
 needed.

Package: pve-headers
Architecture: all
Depends: pve-headers-5.11
Description: Default Proxmox VE Kernel Headers
 This is a metapackage which will install the kernel headers for the
 current default kernel.
